{% extends "forum/base.html" %}
{% load static %}
{% block content %}

    <section class="section section-profil">
        <div class="div-profil">
            <h2 class="div-profil-title">Войти в аккаунт</h2>
            <form method="post" class="div-profil-form">
                {% csrf_token %}
                <div class="div-profil-form-element">
                    <label for="username-field" class="div-profil-form-element-label">Логин:</label>
                    <input id="username-field" class="div-profil-form-element-input1" name="username" type="text" placeholder="Введите логин"/>
                </div>
                <div class="div-profil-form-element">
                    <label for="password-field" class="div-profil-form-element-label">Пароль:</label>
                    <input id="password-field" class="div-profil-form-element-input2" name="password" type="password" placeholder="Введите пароль"/>
                </div>
                {% if form.errors %}
                    <p style="color: red">Неверный логин или пароль</p>
                {% endif %}
                <button type="submit" class="div-profil-btn1">Войти</button>
                <p class="div-text">Нет аккаунта?<a href="{% url 'registration' %}" class="div-profil-btn2"> Зарегистрироваться</a></p>
            </form>
        </div>
    </section>
    {% endblock %}
</div>
</body>
