{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloseStyle</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'image/logo1.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="index-div index-div1">
            <ul class="index-div-list">
                <div class="index-div-list-group1">
                    <li class="index-div-list-item"><a href="/products/" class="index-div-list-item-text">Каталог</a></li>
                    <li class="index-div-list-item"><a href="/forum/" class="index-div-list-item-text">Форум</a></li>
                    <li class="index-div-list-item"><a href="/news/" class="index-div-list-item-text">Новости</a></li>
                    <li class="index-div-list-item"><a href="/contacts/" class="index-div-list-item-text">Контакты</a></li>
                </div>
                <li><a href="/"><img src="{% static 'image/logo2.png' %}" alt="" class="index-div-logo"></a></li>
                <div class="buy-profil">
                    {% if user.is_authenticated %}
                    <li><a href="/cart/"><img src="{% static 'image/buy.png' %}" alt="" class="index-div-profil index-div-profil-cart"></a></li>
                    {% else %}
                    <li><a href="/cart/"><img src="{% static 'image/buy.png' %}" alt="" class="index-div-profil index-div-profil-cart"></a></li>
                    <p class="all-quantity">{{ '-' }}</p>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' username=user.username %}"><img class="index-div-profil index-div-profil-round" src="{{ user.profile.image.url }}"></a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"><img src="{% static 'image/profil.png' %}" alt="" class="index-div-profil"></a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </header>
    <section class="section">
            {% block content %}
            {% endblock %}
    </section>
</body>
</html>